@model Proiect.Models.CollectionDataModel
@{
    ViewBag.MessageOTF = "----OTF nu a fost aleas inca----";
    ViewBag.MessageStation = "----Statia nu a fost aleasa inca----";
}
<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


<style>
    body {
        font-family: 'Open Sans', sans-serif;
        color: black;
    }

    .container {
        display: flex;
    }

    .right {
        position: fixed;
        top: 20%;
        left: 60%;
    }

    .left {
        position: fixed;
        top: 20%;
        left: 10%;
    }

    .down_left {
        position: fixed;
        top: 78%;
        left: 10%;
    }

    .down_right {
        position: fixed;
        top: 85%;
        left: 75%;
        margin-top: -50px;
        margin-left: -100px;
    }


    .centerd_down {
        position: fixed;
        top: 85%;
        left: 30%;
        width: 425px;
        margin-top: -50px;
        margin-left: -100px;
    }


    #table-wrapper {
        max-width:100%;
        position: relative;
        right:25px;
    }

    #table-scroll {
        height: 350px;
        overflow: auto;
        margin-top: 150px;
        -webkit-overflow-scrolling:touch;
    }

    #table-wrapper table {
        width: 100%;
        table-layout:fixed;
    }



    #table-wrapper table .text {
        position: absolute;
        top: 50%;
        height: 100px;
        width: 100%;

    }

</style>

<body>
    @* Dropdown left *@
    <div class="form-row col-md-4 left">
        <label for="form-check-label"> Statie: &nbsp;</label>
        @Html.DropDownListFor(model => Model.SelectionStation,
                            new SelectList(Model.Stations, "Value", "Text"),
                            "Va rog sa selectati Statia",
                            new { @class = "form-control", @style = "width: 250px" })
        @Html.ValidationMessageFor(model => model.SelectionStation)


    </div>


    @* Dropdown right *@
    <div class="form-row col-md-4 right">
    <label for="form-check-label"> OTF:&nbsp;</label>

    @Html.DropDownListFor(model => Model.SelectionOTF,
                             new SelectList(Model.OTFs, "Value", "Text"),
                             "Va rog sa selectati OTF-istul",
                             new { @class = "form-control", @style = "width: 250px" })
    @Html.ValidationMessageFor(model => model.SelectionOTF)
    </div>

<div>
    @* Write rows *@
<div class="centerd_down form-row align-items-center">
    <div class="form-row col">
        <input type="text" @*asp-for="Train_Number"*@ class="form-control mb-2" placeholder="Numar tren" />
    </div>
    &nbsp;
    <div class="form-row col">
        <input type="text" @*asp-for="Vagon_Number"*@ class="form-control mb-2" placeholder="Numar vagoane">
    </div>
    &nbsp;
    <div class="form-row col">
        <input type="text" @*asp-for="Data_Time"*@ class="form-control mb-2" placeholder="Data - ora">
    </div>
</div>

    @* Buttons *@
    <div class="form-row down_right">
        <div class="form-row col">
            <a asp-action="" method="post" type="button" class="btn btn-success">
                <strong>Salveaza</strong>
            </a>
        </div>
        &nbsp;

        <div class="form-row col">
            <a asp-action="Create_Transaction" type="button"
               class="btn btn-primary">
                <strong>Adaugare</strong>
            </a>
        </div>
        &nbsp;

        <div class="form-row col">
            <a asp-action="Sterge_ViewBag" type="button" class="btn btn-warning">
                <strong>Renunta</strong>
            </a>
        </div>

    </div>

    @* Check Button (@Html.RadioButtonFor(m => m.Sens,"s"))*@
    <div class="down_left">
        <div class="form-check">
            <input checked="checked"
                   id="Sens"
                   name="Sens"
                   type="radio"
                   value="s" />
            <label class="form-check-label">
                Sosiri
            </label>
        </div>

        <div class="form-check">
            <input id="Sens"
                   name="Sens"
                   type="radio"
                   value="p" />
            <label class="form-check-label">
                Plecari
            </label>
        </div>
    </div>
</div>



    @* Check Button (@Html.RadioButtonFor(m => m.Sens,"s"))*@
    <div class="down_left">
        <div class="form-check">
            <input checked="checked"
                   id="Sens"
                   name="Sens"
                   type="radio"
                   value="s" />
            <label class="form-check-label">
                Sosiri
            </label>
        </div>

        <div class="form-check">
            <input id="Sens"
                   name="Sens"
                   type="radio"
                   value="p" />
            <label class="form-check-label">
                Plecari
            </label>
        </div>
    </div>



 


    @* Tabel *@
    <div id="table-wrapper">
        <div id="table-scroll">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th align="center">Id tranzactie</th>
                        <th align="center">Plecari / Sosiri</th>
                        <th align="center">Nr. tren</th>
                        <th align="center">Nr. vagoane</th>
                        <th align="center">Data - Ora</th>
                        <th align="center">Actiuni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tabel in Model.Transactions)
                    {
                        <tr>
                            <td align="left">@tabel.Id</td>

                            @if (@tabel.Sens == "1")
                            {
                                <td align="left">Soseste</td>
                            }
                            else
                            {
                                <td align="left">Pleaca</td>
                            }
                            <td align="left">@tabel.Train_Number</td>
                            <td align="left">@tabel.Vagon_Number</td>
                            <td align="left">@tabel.Date_Time</td>
                            <td align="left">
                                <div class="form-row col">
                                    <a asp-action="Logical_Delete" type="button"
                                       class="btn btn-danger" asp-route-id="@tabel.Id">
                                        <strong>Sterge</strong>
                                    </a>
                                </div>
                            </td>
                            <td align="left">
                                <div class="form-row col">
                                    <a asp-action="Update" type="button"
                                       class="btn btn-info" asp-route-id="@tabel.Id">
                                        <strong>Edit</strong>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
