@*@page
    @addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers*@
@model Proiect.Models.CollectionDataModel
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            color: black;
        }
    </style>

</head>
<body>

    <div>
        @*<div style="background-color: #191919; width: 100%; padding: 5px">
                <h2 style="color: #fff; text-transform: uppercase">Afisare tranzactii</h2>
            </div>*@
        <div style="background-color: #fff; width: 100%; padding: 10px 50px;">
            @using (Html.BeginForm())
            {
                <table class="table-condensed">
                    <tr>
                        <td>
                            @ViewBag.Id
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <form method="post">
                                <table>
                                    <tr>
                                        <td>Statia:&nbsp;&nbsp;</td>
                                        <td>

                                            @Html.DropDownListFor(m => @Model.Station_Id,
                                                                            new SelectList(Model.Stations, "Value", "Text"),
                                                                            "Va rog sa selectati Statia",
                                                                            new { @class = "form-control", @style = "width: 250px", @onchange = "FillTransactions()" })

                                            @Html.ValidationMessageFor(m => m.Station_Id)

                                        </td>


                                        <td>&nbsp;&nbsp;OTF:&nbsp;&nbsp;</td>
                                        <td>
                                            @Html.DropDownListFor(m => @Model.OTF_Id,
                                                                               new SelectList(Model.OTFs, "Value", "Text"),
                                                                               "Va rog sa selectati OTF",
                                                                               new { @class = "form-control", @style = "width: 250px" })
                                            @Html.ValidationMessageFor(m => m.OTF_Id)
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;<input type="submit" value="Salveaza" class="btn btn-primary" asp-action="setDrops">
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;<input type="submit" value="Listare" class="btn btn-info" asp-action="Borderouri">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>


                    </tr>
                    <tr>
                        <td>
                            <span>Numar tren:</span>
                        </td>
                        <td colspan="3">
                            @Html.TextBoxFor(m => m.Train_Number, new { id = "txtTren", Value = @Model.Train_Number, @style = "width: 250px" })
                            &nbsp;&nbsp;
                            @Html.ValidationMessageFor(m => m.Train_Number)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Numar vagone:</span>
                        </td>
                        <td colspan="3">
                            @Html.TextBoxFor(m => m.Vagon_Number, new { id = "txtVagon", Value = @Model.Vagon_Number, @style = "width: 250px" })
                            &nbsp;&nbsp;
                            @Html.ValidationMessageFor(m => m.Vagon_Number)
                        </td>
                    </tr>
                    <tr>
                        <td>Sens:</td>
                        <td colspan="3">
                            Sosiri
                            @Html.RadioButtonFor(m => m.Sens, "Sosiri", true)
                            Plecari
                            @Html.RadioButtonFor(m => m.Sens, "Plecari")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>DateTime:</span>
                        </td>
                        <td colspan="3">
                            <input class="form-control" asp-for=@Model.Date_Time asp-format="{0:yyyy-MM-ddTHH:mm}" type="datetime-local" style="width: 250px" />
                            &nbsp;&nbsp;
                            @Html.ValidationMessageFor(m => m.Date_Time)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" align="center">
                            <button value="submit" class="btn btn-primary" title="submit">@Model.buttonText</button>
                            <a asp-action ="cancelData"  type="button" class="btn btn-secondary" asp-route-id="">
                                <strong>Renunta</strong>
                                </a>
                        </td>

                    </tr>
                </table>

                <h5>@Model.Message</h5>
                <table class="table-condensed table-bordered">
                    <tr>
                        <th align="center" class="text-center">ID</th>
                        <th align="center">Plecari / Sosiri</th>
                        <th align="center">Nr. tren</th>
                        <th align="center">Nr. vagoane</th>
                        <th align="center">Data - Ora</th>
                        <th align="center" class="text-center">Edit</th>
                        <th align="center" class="text-center">Delete</th>
                    </tr>
                    @foreach (var e in Model.lstTransactions)
                    {
                        <tr>
                            <td><b>@e.Id</b></td>
                            <td align="center">@e.Sens</td>
                            <td align="left">@e.Train_Number</td>
                            <td align="left">@e.Vagon_Number</td>
                            <td align="left">@e.Date_Time</td>
                            <td align="center">
                                <a asp-action ="Index"  type="button"
                                               class="btn btn-success"  asp-route-id=@e.Id asp-route-type="e">
                                    <i class="fa fa-edit"></i>
                                    </a>


                                    @*<a class="btn btn-success" href="http://localhost:8508/CollectionDataModel?id=@e.Id&type=e"><i class="fa fa-edit"></i></a>*@
                            </td>
                            <td align="center">
                                <a asp-action ="Index"  type="button"
                                               class="btn btn-danger"  asp-route-id="@e.Id" asp-route-type="d">
                                    <i class="fa fa-trash"></i>
                                    </a>
                                    @*<a class="btn btn-danger" href="http://localhost:8508/CollectionDataModel?id=@e.Id&type=d"><i class="fa fa-trash"></i></a>*@
                            </td>
                        </tr>
                    }
                </table>

            }
        </div>

    </div>
</body>
</html>
